mixin Image({ name, alt = "", lazy = true, width, height ,isHero = false })
  - 
    const dims = getImageSize(name);
    const finalWidth = width || dims.width;
    const finalHeight = height || dims.height;
    const srcPath = `./assets/images/${name}.webp`;

  img(
    src=srcPath
    alt=(alt == "" ? name : alt)
    width=(finalWidth > 0 ? finalWidth : null)
    height=(finalHeight > 0 ? finalHeight : null)
    loading=lazy ? "lazy" : "eager"
    fetchpriority=(isHero ? "high" : "auto")
    decoding="async"
  )&attributes(attributes)