include ./ui/_Button.pug
include ./ui/_Image.pug
section.about.pos-rel
    .container
            .content.text-center.mx-auto 
                h2.fs-res-96.mb-6 نيردي
                p.pb-8.fs-res-36.fw-400.text-dark.line-40 
                    | لعبة أسئلة جماعية تضم أكثر من 200 فئة منوعة وتحتوي على أقسام خاصة بالكبار و الطلبة والأطفال
                
            figure.round-lg.pos-rel.iframeVideo.mx-auto.my-14
                iframe(
                    width="100%"
                    height="100%"
                    class="round-lg "
                    src="https://www.youtube-nocookie.com/embed/fY_t3wFX6q8"
                    title="YouTube video player"
                    frameborder="0"
                    loading="lazy"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                )
                +Image({ 
                    name: 'boy-img', 
                    width: 120,
                    height: 120,
                    
                    lazy: false,
                    
                    }).boyImg
                +Image({ 
                    name: 'girl-img', 
                    width: 200,
                    height: 200,
                    
                    }).girlImg
            div(class="d-flex items-center w-full justify-center pt-8")
                +button({ 
                            text: 'اشتر باقه وألعب', 
                            link: '/', 
                        }).primary.large